.App {
  text-align: center;
}

.page-title,
.raffle-card-title {
  text-align: left;
}

.balance-card-value {
  text-align: center;
  color: #5956E9;
}

.logo {
  width: 90px;
}

.tx-table-title {
  text-align: right;

}

.sidebar {
  background-color: #F4F5FA;
  height: 100%;
}

.card {
  height: 300px
}

.balance-card {
  height: 300px;
  background: linear-gradient(1.51deg, #EBF1FF 5.34%, #F2F5FE 72.41%);
}

.logo-meter {
  width: 67px;
}

.logo-meter-balance {
  width: 21px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}